<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Bean对象的作用域与生命周期
        Bean对象的作用域
            1.单例作用域
                spring容器在启动时会实例化bean对象，并将对象设置单例缓存池中，下次获取时直接从宦存池中得到。
                scope=“singleton” 默认情况下，spring容器中加载的Bean对象都是单例
                默认情况下加载的都是单例
                lazy-init属性
                    表示懒加载，默认是false
                    如果值为true，则表示
            2.原型作用域
                Spring容器启东市会实例化Bean对象，不会安静对象设置到单例宦存池中，每次请求都会重新创建一个新的Bean对象
                scope=“prototype”


    -->
    <bean id="accountDao" class="com.yuanzi.dao.AccontDao" destroy-method="destory"/>
</beans>